tr, td, th {
  font-size:24px;
}

body {
	background-color: White;
	color: Black;
	padding: 24px;
	width: auto;
	text-align: justify;
}

body, p, td, li, dt, dd, .copyright, .pubdate, div.legalnotice {
	font: 12px/18px Verdana, Arial, Helvetica, Sans-Serif;
}


table {
  border-collapse: collapse;
  border: 1px solid #778899;
  font-size: x-small;
}

ul {
  list-style-type:disc;
  margin:25px 25px;
}

img.right {
  float: right;
  margin:10px;
}

img.left {
  float: left;
  margin:10px;
}

img.center {
  margin:10px auto 25px auto;
  display:block;
}

pre.programlisting {
  color:white;
  background: #000 no-repeat top right;
  font-family:Monaco, Consolas, "Courier New", monospace;
  font-weight: bold;
  padding:5px 10px;
  margin-bottom:25px;
}

a[accesskey=n], a[accesskey=p], a[accesskey=h], a[accesskey=u] {
  font-family:georgia, Verdana, Arial, serif;
  font-weight:bold;
  font-size:medium;
  background-color: #E0E0E0;
  color: darkgray;
}

.code {
  white-space:nowrap;
  font-family:Monaco, Consolas, "Courier New", monospace;
  background-color:#ddd;
  font-weight:normal;
  padding: 2px;
}

.termdef {
  font-family: serif;
}

.blockquote {
  font-style: italic;
}

.caption {
  font-size: medium;
}

.footnote {
  font-size:small;
  font-weight:bold;
}

.xref {
  font-size:small;
}

.subtitle {
  font-size: medium;
}

div.revhistory table td {
  font-size: xx-small;
}

div.revhistory table th {
  font-size: xx-small;
}

div.procedure .procedure li.step p.exercise {
  color: #00008b;
  font-weight:bold;
}
